[submodule "linux/cmaketutorial/external/glfw"]
	path = linux/cmaketutorial/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "linux/cmaketutorial/external/gtests"]
	path = linux/cmaketutorial/external/gtests
	url = https://github.com/google/googletest.git
